.btn {
  background-color: $mainBlue;
  color: #FFF;
  text-decoration: none;
  padding: .75rem 1.2rem; /* .75 top and bottom padding 1.2 left and right padding*/
  display: inline-block; /* The parent and surrounding elements will be aware of the padding*/

  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    padding: 1.1rem 1.9rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }
}
